name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
#  test-simple:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v5
#      - uses: actions/setup-go@v6
#        with:
#          go-version: '>=1.21.0'
#      - run: which go
#      - run: go version
#      - run: go build
#      - run: go test ./...
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '>=1.21.0'
      - run: go build
      - uses: golangci/golangci-lint-action@v9
      - run: go test -race -covermode atomic -coverprofile coverage.txt
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          #verbose: true # optional (default = false)
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{md,go}"
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: raviqqe/markdown-link-check@main
